demo-zip-source/flows/New_Order_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <label>New Order Screen Flow</label>
    <processType>Flow</processType>
    <status>Active</status>
    <start/>

    <screens>
        <n>Order_Details_Screen</n>
        <label>Enter Order Details</label>
        <fields>
            <n>AccountLookup</n>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Account</fieldText>
        </fields>
        <fields>
            <n>TotalAmountInput</n>
            <fieldType>InputField</fieldType>
            <dataType>Currency</dataType>
            <fieldText>Total Amount</fieldText>
        </fields>
        <connector><targetReference>Create_Order</targetReference></connector>
    </screens>

    <recordCreates>
        <n>Create_Order</n>
        <label>Create Order</label>
        <object>Order__c</object>
        <inputAssignments>
            <field>Account__c</field>
            <value><elementReference>AccountLookup</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAmount__c</field>
            <value><elementReference>TotalAmountInput</elementReference></value>
        </inputAssignments>
        <connector><targetReference>Confirm_Screen</targetReference></connector>
    </recordCreates>

    <screens>
        <n>Confirm_Screen</n>
        <label>Order Created</label>
        <fields>
            <n>SuccessMessage</n>
            <fieldType>DisplayText</fieldType>
            <fieldText>Your order has been created successfully.</fieldText>
        </fields>
    </screens>
</Flow>
