demo-zip-source/flows/Order_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <label>Order Approval Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <start>
        <object>Order__c</object>
        <triggerType>RecordBeforeSave</triggerType>
        <recordTriggerType>Update</recordTriggerType>
    </start>

    <decisions>
        <n>Check_Amount_Threshold</n>
        <label>Check Amount Threshold</label>
        <defaultConnector>
            <targetReference>Auto_Approve</targetReference>
        </defaultConnector>
        <rules>
            <n>Needs_Manual_Approval</n>
            <label>Needs Manual Approval</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalAmount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><numberValue>10000</numberValue></rightValue>
            </conditions>
            <connector><targetReference>Set_Pending_Approval</targetReference></connector>
        </rules>
    </decisions>

    <recordUpdates>
        <n>Auto_Approve</n>
        <label>Auto Approve</label>
        <object>Order__c</object>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Approved</stringValue></value>
        </inputAssignments>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.Id</elementReference></value>
        </filters>
    </recordUpdates>

    <recordUpdates>
        <n>Set_Pending_Approval</n>
        <label>Set Pending Approval</label>
        <object>Order__c</object>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Submitted</stringValue></value>
        </inputAssignments>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.Id</elementReference></value>
        </filters>
    </recordUpdates>
</Flow>
